## 1_Imc_World

### En este notebook vamos unir dos ficheros, el primero con los IMCs mundiales y un segundo con la longitud y latitud obteniendo un excel que usaremos en tableau.

### Datos obtenidos en https://www.wikipedia.org/

In [34]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

In [2]:
!ls -l

total 11564
-rw-r--r-- 1 dsc dsc   26141 oct  1 21:41 1_Imc_world.ipynb
-rw-r--r-- 1 dsc dsc  302653 oct 18 19:27 2_Estudio_UK.ipynb
-rw-r--r-- 1 dsc dsc  206938 nov  3 20:47 3_imc_pib.ipynb
-rw-r--r-- 1 dsc dsc   85499 oct 23 20:55 4_Limpieza_Dataset1.ipynb
-rw-r--r-- 1 dsc dsc  997771 nov  4 11:15 5_Machine_learning_WC_HIP.ipynb
-rw-r--r-- 1 dsc dsc  543871 nov  4 12:01 6_Machine_learning_alimentación.ipynb
-rw-r--r-- 1 dsc dsc 5523796 nov  4 12:01 7_Machine_learning_sangre.ipynb
-rw-r--r-- 1 dsc dsc 3125578 nov  5 20:50 8_Machine_learning_diabetes.ipynb
drwxr-xr-x 2 dsc dsc    4096 nov  4 13:58 DATA
-rw-rw-r-- 1 dsc dsc  477261 oct  2 21:00 IMC_mundiales.twbx
-rw-rw-r-- 1 dsc dsc  527844 oct 21 11:44 IMC_vs_pib.twbx
drwxrwxr-x 3 dsc dsc    4096 nov  4 13:59 Modelizacion

In [3]:
nombre_archivo_lat_lon = "World_Map.xls"

In [4]:
nombre_archivo_imc = "imc_mundiales.xlsx"

In [5]:
path_to_zips = "/home/dsc/Desktop/TFM/DATA/"

In [6]:
dataset_ll = path_to_zips + nombre_archivo_lat_lon

In [7]:
dfdataset_ll = pd.read_excel(dataset_ll)

In [8]:
dfdataset_ll.head()

      Country  Latitud (generado)  Longitud (generado)
0  Afganistán             34.0230              65.5267
1     Albania             40.6540              20.0760
2     Argelia             28.6045               2.6400
3     Andorra             42.5410               1.5460
4      Angola            -12.8360              17.8080

In [9]:
dataset_imc = path_to_zips + nombre_archivo_imc

In [10]:
dfdataset_imc = pd.read_excel(dataset_imc)

In [11]:
dfdataset_imc.head()

,País,Media IMC​,IMC en hombres,IMC en mujeres,Hombres respecto a mujeres
0,Afganistán,21.01,21.36,20.65,1.034
1,Albania,24.53,27.60,21.45,1.287
2,Alemania,25.32,27.17,23.46,1.158
3,Angola,22.73,23.24,22.22,1.046
4,Arabia Saudita,26.11,27.88,24.33,1.146

In [12]:
dfdataset_imc.shape

(177, 5)

In [13]:
dfdataset_ll.shape

(190, 3)

In [14]:
dfdataset_ll.columns.tolist()

['Country', 'Latitud (generado)', 'Longitud (generado)']

In [15]:
dfdataset_imc.columns.tolist()

['País',
 'Media IMC\u200b',
 'IMC en hombres',
 'IMC en mujeres',
 'Hombres respecto a mujeres']

In [16]:
dfdataset_imc.isnull().sum()

País                          0
Media IMC​                    0
IMC en hombres                0
IMC en mujeres                0
Hombres respecto a mujeres    0
dtype: int64

In [17]:
dfdataset_ll.isnull().sum()

Country                0
Latitud (generado)     2
Longitud (generado)    2
dtype: int64

In [18]:
dfdataset_ll = dfdataset_ll.dropna()

In [19]:
dfdataset_ll.isnull().sum()

Country                0
Latitud (generado)     0
Longitud (generado)    0
dtype: int64

In [20]:
dfdataset_ll.shape

(188, 3)

In [21]:
dfdataset_imc.shape

(177, 5)

In [2]:
#vamos a unir los dos ficheros, hay algun nombre que puede no coincidir ya que son de fuentes diferentes

In [23]:
final = dfdataset_imc.merge(dfdataset_ll, left_on ="País", right_on="Country")

In [24]:
final.head()

,País,Media IMC​,IMC en hombres,IMC en mujeres,Hombres respecto a mujeres,Country,Latitud (generado),Longitud (generado)
0,Afganistán,21.01,21.36,20.65,1.034,Afganistán,34.0230,65.5267
1,Albania,24.53,27.60,21.45,1.287,Albania,40.6540,20.0760
2,Alemania,25.32,27.17,23.46,1.158,Alemania,51.3819,9.9877
3,Angola,22.73,23.24,22.22,1.046,Angola,-12.8360,17.8080
4,Arabia Saudita,26.11,27.88,24.33,1.146,Arabia Saudita,24.1910,44.3200

In [25]:
final.shape

(175, 8)

In [26]:
final.columns.tolist()

['País',
 'Media IMC\u200b',
 'IMC en hombres',
 'IMC en mujeres',
 'Hombres respecto a mujeres',
 'Country',
 'Latitud (generado)',
 'Longitud (generado)']

In [27]:
final_renombrado = final.rename(columns={'Media IMC\u200b': 'Media IMC', 
                                        'Latitud (generado)': 'Latitud',"Longitud (generado)" : "Longitud"})

In [28]:
final_renombrado.head()

,País,Media IMC,IMC en hombres,IMC en mujeres,Hombres respecto a mujeres,Country,Latitud,Longitud
0,Afganistán,21.01,21.36,20.65,1.034,Afganistán,34.0230,65.5267
1,Albania,24.53,27.60,21.45,1.287,Albania,40.6540,20.0760
2,Alemania,25.32,27.17,23.46,1.158,Alemania,51.3819,9.9877
3,Angola,22.73,23.24,22.22,1.046,Angola,-12.8360,17.8080
4,Arabia Saudita,26.11,27.88,24.33,1.146,Arabia Saudita,24.1910,44.3200

In [29]:
final_imc = final_renombrado.drop("Country", 1)

In [30]:
final_imc.head()

,País,Media IMC,IMC en hombres,IMC en mujeres,Hombres respecto a mujeres,Latitud,Longitud
0,Afganistán,21.01,21.36,20.65,1.034,34.0230,65.5267
1,Albania,24.53,27.60,21.45,1.287,40.6540,20.0760
2,Alemania,25.32,27.17,23.46,1.158,51.3819,9.9877
3,Angola,22.73,23.24,22.22,1.046,-12.8360,17.8080
4,Arabia Saudita,26.11,27.88,24.33,1.146,24.1910,44.3200

In [31]:
writer = ExcelWriter(path_to_zips + "/imc_world_map.xlsx")

In [32]:
final_imc.to_excel(writer, 'Hoja de datos', index=False)

In [33]:
writer.save()