In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
nombre_archivo = "Dataset_limpio1.xlsx"

In [3]:
path_to_zips = "/home/dsc/Desktop/TFM/DATA/"

In [4]:
dataset = path_to_zips + nombre_archivo

In [5]:
df = pd.read_excel(path_to_zips + nombre_archivo)

In [6]:
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7

In [7]:
df.loc[:,"Sobrepeso"] = 0
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7,0
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7,0
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6,0
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7,0
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7,0

In [8]:
df["Sobrepeso"] = [1 if x>=25 else 0 for x in df["BMI"]]

In [9]:
df.sample(8)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso
354,143.05,43.35,21.18,65.85,79.95,0.82,110.0,64.0,2.93,0.97,4.97,1.61,0.0,0.0,0,0.0,0,0
415,174.15,62.85,20.72,76.90,91.45,0.84,112.0,59.0,2.75,1.49,4.41,0.97,4.0,14.0,1500,4.0,7,0
290,172.00,64.35,21.75,74.25,89.75,0.83,111.0,66.5,2.67,0.69,4.00,1.10,7.0,5.0,1000,7.0,5,0
209,162.35,60.05,22.78,76.00,94.00,0.81,97.0,64.0,2.33,0.64,4.17,1.28,14.0,21.0,1250,12.0,5,0
316,160.35,55.35,21.53,82.55,83.60,0.99,109.0,61.0,2.18,1.22,3.85,0.82,14.0,21.0,0,5.0,7,0
447,163.95,55.25,20.55,67.00,93.50,0.72,94.0,49.0,3.26,0.81,4.92,1.14,5.0,21.0,500,7.0,7,0
624,147.55,42.45,19.50,63.00,82.00,0.77,97.0,61.0,2.64,0.68,4.93,1.86,7.0,0.0,1250,14.0,6,0
2021,132.05,24.15,13.85,53.50,63.50,0.84,100.5,77.0,2.28,1.27,4.11,1.25,35.0,49.0,1000,0.0,5,0

In [10]:
df.loc[:,"Estado"] = 0
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7,1,0
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7,1,0
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6,1,0
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7,1,0
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7,1,0

In [11]:
df.sample(5)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
910,151.10,41.50,18.18,68.50,81.00,0.85,100.0,60.0,2.62,0.76,4.23,1.21,7.0,14.0,0,7.0,7,0,0
666,132.05,33.65,19.30,62.25,71.10,0.88,92.0,58.0,1.86,0.56,4.35,1.20,12.0,0.0,500,7.0,7,0,0
648,161.15,50.35,19.39,69.85,81.10,0.86,110.0,70.0,3.29,0.81,5.06,1.46,5.0,3.5,3000,14.0,7,0,0
199,127.00,36.90,22.88,70.30,75.45,0.93,99.0,59.0,2.85,0.76,4.72,1.54,2.0,3.0,750,7.0,7,0,0
89,144.00,52.35,25.25,87.75,83.05,1.06,110.0,66.0,3.24,0.89,4.92,1.20,35.0,0.0,500,28.0,7,1,0

In [12]:
df[['BMI']] = df[['BMI']].astype(float)

In [13]:
a = "Insuficiencia_Ponderal"
b = "Normal"
c = "Sobrepeso"
d = "Obesidad_I"
e = "Obesidad_II"

In [14]:
tipos = []

In [15]:
for x in df["BMI"]:
    
    if x>=0 and x <=18.4:
        tipos.append(a)
    elif x>=18.5 and x <=24.9:
        tipos.append(b)
    elif x >= 25 and x<=29.9:
        tipos.append(c)
    elif x>=30 and x <=34.9:
        tipos.append(d)
    elif x>=34.9 and x <=39.9:
        tipos.append(e)

In [16]:
df["Estado"]=pd.Series(tipos)

In [17]:
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7,1,Obesidad_II
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7,1,Obesidad_II
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6,1,Obesidad_I
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7,1,Obesidad_I
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7,1,Obesidad_I

In [18]:
df.tail()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
2238,134.05,21.5,11.96,54.0,60.0,0.90,90.0,60.0,1.40,0.72,3.39,1.53,12.0,6.0,0,0.0,6,0,NaN
2239,126.65,19.1,11.91,47.5,56.0,0.85,88.0,54.0,2.18,0.75,3.93,1.50,4.0,0.0,1000,9.0,7,0,NaN
2240,123.15,18.0,11.87,49.0,57.0,0.86,82.5,58.0,1.50,0.59,3.94,0.90,5.0,14.0,0,7.0,7,0,NaN
2241,131.20,20.4,11.85,48.0,58.0,0.83,95.0,66.0,2.72,0.87,5.12,1.30,10.5,10.5,0,10.5,7,0,NaN
2242,136.15,21.5,11.60,52.0,60.0,0.87,88.0,58.0,2.67,0.82,4.52,1.52,14.0,42.0,0,14.0,7,0,NaN

In [19]:
df.sample(10)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
686,153.10,45.00,19.20,62.00,80.50,0.77,102.0,66.0,2.12,0.56,4.11,1.70,7.0,21.0,0,14.0,7,0,Normal
202,143.05,46.75,22.85,78.10,83.65,0.93,103.0,74.0,2.51,0.52,4.90,1.59,6.0,14.0,0,2.0,7,0,Normal
1342,144.00,34.05,16.42,65.85,68.05,0.97,108.0,62.0,3.32,1.00,5.16,1.29,5.0,0.0,0,7.0,7,0,Insuficiencia_Ponderal
79,164.45,69.05,25.53,80.20,92.95,0.86,89.0,59.0,2.67,0.46,4.34,1.40,14.0,28.0,0,14.0,7,1,Sobrepeso
1904,131.20,24.60,14.29,59.50,65.50,0.91,91.0,58.5,2.64,0.86,4.71,1.71,7.0,6.0,1500,2.0,7,0,Insuficiencia_Ponderal
344,152.65,49.50,21.24,74.00,84.00,0.88,112.0,72.0,2.51,0.77,3.91,1.04,14.0,28.0,1000,8.0,7,0,Normal
811,129.00,30.90,18.57,60.45,67.15,0.90,101.0,65.0,2.51,0.44,3.99,1.22,7.0,21.0,0,2.0,7,0,Normal
1002,118.05,24.80,17.80,58.85,63.05,0.93,94.0,59.0,2.36,0.72,4.04,1.19,14.0,14.0,0,21.0,7,0,Insuficiencia_Ponderal
1731,117.05,20.55,15.00,50.65,56.10,0.90,85.0,53.0,2.05,0.60,4.08,1.72,6.0,14.0,0,7.0,7,0,Insuficiencia_Ponderal
1934,125.55,22.35,14.18,49.35,57.45,0.86,107.0,57.0,2.69,0.59,5.14,2.07,10.5,14.0,0,7.0,7,0,Insuficiencia_Ponderal

In [20]:
df.isnull().sum()

Height        0
Weight        0
BMI           0
WC            0
HIP           0
WHR           0
SBP           0
DBP           0
LDL           0
TG            0
CHO           0
HDL           0
Fruit         0
Vegetable     0
beverage      0
Meat          0
breakfast     0
Sobrepeso     0
Estado       28
dtype: int64