In [1]:
### todo esto primero cargar el archivo

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
nombre_archivo = "Dataset_limpio1.xlsx"

In [4]:
path_to_zips = "/home/dsc/Desktop/TFM/DATA/"

In [5]:
dataset = path_to_zips + nombre_archivo

In [6]:
df = pd.read_excel(path_to_zips + nombre_archivo)

In [7]:
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7

In [ ]:
###Creo una columana de momento 0

In [13]:
df.loc[:,"Sobrepeso"] = 0
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7,0
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7,0
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6,0
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7,0
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7,0

In [14]:
#con una una condicion que resulte 1 o 0

In [15]:
df["Sobrepeso"] = [1 if x>=25 else 0 for x in df["BMI"]]

In [16]:
df.sample(5)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso
2044,126.00,21.80,13.73,49.75,57.05,0.87,102.0,61.0,1.55,0.52,3.80,1.33,6.0,14.0,0,0.0,7,0
861,131.85,31.90,18.35,67.05,72.30,0.93,79.0,48.0,1.99,0.76,3.84,1.29,9.0,63.0,0,63.0,7,0
314,136.75,40.30,21.55,71.00,78.00,0.91,84.0,52.0,2.05,0.78,3.87,1.43,10.0,0.0,0,21.0,4,0
835,175.00,56.55,18.47,68.60,86.05,0.80,119.0,78.0,1.71,0.82,3.15,1.01,10.0,21.0,750,7.0,7,0
393,158.00,52.10,20.87,68.40,83.25,0.82,109.0,64.0,2.87,0.60,4.83,1.51,12.0,28.0,0,2.0,7,0

In [17]:
#creo una columna nueva

In [18]:
df.loc[:,"Estado"] = 0
df.head()

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
0,141.00,73.10,36.77,91.05,98.15,0.93,103.0,66.0,2.05,1.23,3.87,1.21,1.0,0.0,0,7.0,7,1,0
1,178.00,114.50,36.14,115.60,120.05,0.96,129.0,88.0,1.92,0.94,3.57,0.99,0.0,7.0,0,7.0,7,1,0
2,165.60,94.00,34.28,101.45,118.90,0.85,99.0,64.0,2.43,1.90,4.69,1.13,12.0,14.0,0,35.0,6,1,0
3,178.00,105.35,33.25,103.75,113.15,0.92,110.0,71.0,2.46,1.86,4.74,1.30,21.0,21.0,0,7.0,7,1,0
4,154.55,77.85,32.59,91.40,105.45,0.87,104.0,64.0,2.41,1.52,4.14,1.09,14.0,7.0,0,1.0,7,1,0

In [19]:
df.sample(5)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
1079,168.45,49.7,17.52,71.00,86.50,0.82,101.0,69.0,1.19,0.39,3.50,1.73,21.0,0.0,750,21.0,7,0,0
449,161.10,53.3,20.54,74.00,87.50,0.85,92.0,60.0,1.81,1.73,3.54,1.00,0.0,0.0,1000,0.0,0,0,0
1840,140.00,28.5,14.54,54.60,65.75,0.83,101.0,61.0,3.99,1.09,6.15,1.55,15.0,42.0,0,21.0,7,0,0
2186,128.65,21.4,12.93,51.05,56.60,0.90,90.0,57.0,1.86,0.59,3.83,1.00,3.0,7.0,0,14.0,7,0,0
1843,145.10,30.6,14.53,61.50,70.50,0.87,91.5,63.5,2.93,0.78,5.17,1.77,5.0,6.0,500,7.0,5,0,0

In [20]:
# la columna "estado" en la que quiero poner unas condiciones para completar

In [21]:
#que condiciones quiero

        if x<=18.4:
            Insuficiencia_Ponderal
            
        elif x>=18.5 and x <=24.9:
            Normal 
            
        elif x >= 25 and x<=29.9:
            Sobrepeso 
            
        elif x>=30 and x <=34.9:
            Obesidad_I

In [22]:
#como creo que se hace ejemplo

In [23]:
df["Estado"] = ["Insuficiencia Ponderal" if x<=18.5
                else "Normal" x>=18.5 and x <=24.9 
                for x in df["BMI"]]

SyntaxError: invalid syntax (<ipython-input-23-b47433c68942>, line 2)

In [24]:
df["Estado"] = ["Insuficiencia Ponderal" if x<=18.5
                elif "Normal" x>=18.5 and x <=24.9 
                for x in df["BMI"]]

SyntaxError: invalid syntax (<ipython-input-24-6934cf2b795f>, line 2)

In [ ]:
### todo esto no hacer caso, eran pruebas

In [65]:
df["Sobrepeso"] = [1 if x>=25 else 0 for x in df["BMI"]]

In [70]:
df["Estado"] = ["Insuficiencia Ponderal" if x<=18.5
                else "Normal" x>=18.5 and x <=24.9 
                for x in df["BMI"]]

SyntaxError: invalid syntax (<ipython-input-70-b47433c68942>, line 2)

In [58]:
df.sample(5)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
363,170.00,61.10,21.14,71.75,89.60,0.80,115.0,70.0,2.36,0.98,4.34,1.40,4.0,14.0,500,7.0,7,0,error
517,152.45,46.75,20.12,70.50,82.00,0.86,92.0,65.0,2.54,0.73,4.82,1.54,0.0,14.0,500,21.0,7,0,error
443,173.00,61.55,20.57,79.05,87.95,0.90,100.0,60.0,1.14,1.59,3.19,1.11,14.0,0.0,250,7.0,7,0,error
1736,142.05,30.25,14.99,60.75,68.55,0.89,95.0,63.0,2.75,0.93,4.26,0.94,8.0,0.0,0,21.0,5,0,Insuficiencia Ponderal
400,168.00,58.80,20.83,73.55,89.95,0.82,91.0,61.0,1.32,1.32,3.16,0.99,7.0,14.0,0,7.0,7,0,error

In [ ]:
df["Estado"] = ["Insuficiencia Ponderal" if x<=18.5
                else "error" 
                for x in df["BMI"]]

In [94]:
df["Estado"] = ["Normal" if x>=18.5 and x <=24.9 
                else "error" 
                for x in df["BMI"]]

In [60]:
df["Estado"] = ["Sobrepeso" if x >= 25 and x<=29.9
                else "error" 
                for x in df["BMI"]]

In [61]:
df["Estado"] = ["Obesidad clase I" if x>=30 and x <=34.9 
                else "error" 
                for x in df["BMI"]]

In [62]:
df["Estado"] = ["Obesidad clase II" if x>=34.9 
                else "error" 
                for x in df["BMI"]]

In [78]:
df.sample(10)

,Height,Weight,BMI,WC,HIP,WHR,SBP,DBP,LDL,TG,CHO,HDL,Fruit,Vegetable,beverage,Meat,breakfast,Sobrepeso,Estado
139,153.10,56.15,23.96,79.00,90.00,0.88,91.0,59.0,2.98,1.04,4.88,1.29,4.0,3.0,0,3.0,0,0,Normal
320,163.05,57.15,21.50,72.50,97.00,0.75,92.0,49.0,1.55,1.91,3.68,1.06,6.0,14.0,1500,7.0,7,0,Normal
1337,143.05,33.65,16.44,61.00,71.00,0.86,89.0,55.0,2.82,0.58,5.02,1.89,0.0,0.0,0,0.0,0,0,Insuficiencia Ponderal
1428,137.50,30.40,16.08,56.05,64.95,0.86,110.0,63.0,2.72,0.94,4.94,1.79,12.0,7.0,250,7.0,7,0,Insuficiencia Ponderal
2167,136.25,24.35,13.12,59.00,64.00,0.92,89.0,60.5,1.84,0.49,4.01,1.87,2.0,49.0,0,49.0,7,0,Insuficiencia Ponderal
874,154.65,43.80,18.31,70.00,77.00,0.91,98.0,65.0,2.41,1.04,4.26,0.66,0.0,7.0,750,6.0,7,0,Insuficiencia Ponderal
185,130.00,39.05,23.11,70.55,75.15,0.94,102.0,62.0,2.33,0.73,4.27,1.22,14.0,14.0,0,35.0,7,0,Normal
214,148.05,49.85,22.74,82.65,82.05,1.01,107.0,69.0,2.23,1.71,4.06,1.00,10.0,30.0,1500,5.0,7,0,Normal
859,156.75,45.10,18.36,63.00,85.00,0.74,97.0,70.0,1.84,1.21,3.83,1.24,1.0,14.0,500,7.0,7,0,Insuficiencia Ponderal
1757,120.35,21.60,14.91,53.00,59.00,0.90,81.0,52.0,1.79,0.57,3.56,1.54,2.0,7.0,500,7.0,7,0,Insuficiencia Ponderal